/* Fonts */

@font-face {
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   src: url(../fonts/Museo\ Sans\ Cyrl\ 300.ttf);

   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   src: url(../fonts/Museo\ Sans\ Cyrl\ 500.ttf);

   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   src: url(../fonts/Museo\ Sans\ Cyrl\ 700.ttf);
}

/* General */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-style: normal;
   font-weight: normal;
}

a {
   text-decoration: none;
   color: inherit;
}

ul {
   list-style: none;
}

h1, h2, h3 {
   font-family: 'Museo-Sans-Cyrl-900', sans-serif;
}

.container {
   width: 90%;
   margin: 0 auto;
   padding: 0 15px;
}

.flex {
   display: flex;
}

.between {
   justify-content: space-between;
}

.center {
   align-items: center;
}


/* Location-menu */

#location-menu {
   color: #fff;
   background-color: #000;
   padding: 15px 0;
}

.location-menu-content {
   column-gap: 15px;
}

.locations {
   column-gap: 50px;
}

.locations .location-icon {
   margin-right: 9px;
   color: #FFD634;
}

.location-city label {
   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   font-size: 13px;
   font-weight: 700;
}

.location-city #location-city {
   border: none;   
   outline: none;
   background-color: transparent;
   color: #FFF;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 13px;
   font-weight: 400;
}

.location-city #location-city option {
   background-color: #000;
   color: #fff;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 13px;
   font-weight: 400;
}

.location-office {
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 13px;
   font-weight: 400;
}

.location-office .bold {
   font-weight: 600;
}

.location-lists {
   column-gap: 74px;
   color: #FFF;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 13px;
   font-weight: 400;
}


/* Search-tel-menu */

#search-tel-menu {
   padding-top: 16px;
   padding-bottom: 19px;
}

.search-tel-menu-content {
   column-gap: 10px;
}

.color-site-buttons {
   column-gap: 6px;
   margin-bottom: 9px;
   justify-content: center;
}

.color-site-buttons .color-site-btn {
   width: 35px;
   height: 32px;
   border-radius: 9px;
}

.color-site-buttons .color-site-btn:nth-child(1) {
   background-color: #FF7A1B;
}
.color-site-buttons .color-site-btn:nth-child(2) {
   background-color: #2B150D;
}
.color-site-buttons .color-site-btn:nth-child(3) {
   background-color: #FFD634;
}

.color-site-text {
   color: #000;
   font-size: 14px;
   font-weight: 600;
   text-align: center;
}

.search-text-lists {
   column-gap: 41px;
}

.search-text-lists li {
   column-gap: 8px;
   color: #2B150D;
   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   font-size: 13px;
   font-weight: 600;
}

.search-text-lists li .check-icon {
   color: #FFD634;
}

.search-bar-menu {
   flex-direction: column;
   row-gap: 10px;
   width: 60%;
}

#search {
   width: 100%;
   border: none;
   outline: none;
   color: #818181;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 14px;
   font-weight: 300;
   border: 1px solid #E8E8E8;
   /* clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%); */
   padding: 15px 20px;
   background-color: transparent;
   border-top-left-radius: 6px;
   border-bottom-left-radius: 6px;
}

.search-form-btn {
   /* clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%); */
   border: none;
   outline: none;
   background-color: #FFD634;
   color: #000;
   text-align: center;
   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   font-size: 16px;
   font-weight: 600;
   padding: 15px 50px;
   border-top-right-radius: 6px;
   border-bottom-right-radius: 6px;
   cursor: pointer;
}

.contact-details {
   column-gap: 31px;
}

.contacts-lists {
   flex-direction: column;
   width: 100%;
}

.contacts-lists li:first-child {
   margin-bottom: 8px;
   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   font-size: 13px;
   font-weight: 600;
}

.contacts-lists li:first-child i {
   margin-right: 8px;
   color: #FFD634;
}

.contacts-lists li:nth-child(2),
.contacts-lists li:nth-child(3) {
   margin-left: 27px;
}

.contacts-lists li:nth-child(2) a,
.contacts-lists li:nth-child(3) a {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 18px;
   font-weight: 300;
}

.contacts-lists li:nth-child(2) a .bold-number,
.contacts-lists li:nth-child(3) a .bold-number {
   color: #2B150D;
   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   font-weight: 600;
}

.contacts-lists li:nth-child(2) {
   margin-bottom: 4px;
}

.mail-order {
   flex-direction: column;
   row-gap: 10px;
}

.mail-link {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   font-size: 13px;
   font-weight: 600;
   column-gap: 8px;
   margin: 0 auto;
}

.mail-link i {
   color: #FFD634;
}

.order-btn {
   padding: 13px 40px;
   color: #FFF;
   text-align: center;
   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   font-size: 16px;
   font-weight: 400;
   border: none;
   outline: none;
   background-color: #FF7A1B;
   border-radius: 6px;
   cursor: pointer;
}

.search-tel-menu-content {
   width: 100%;
}

.search-form, .search-btn-box {
   width: 100%;
}



/* Catalogue */

.catalogue-navbar {
   column-gap: 88px;
}

.catalogue-link {
   width: 260px;
   padding: 13px 17px;
   border: none;
   outline: none;
   background-color: #FFD634;
   column-gap: 20px;
   color: #000;
   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   font-size: 16px;
   font-weight: 600;
}

.catalogue-link i {
   color: #fff;
   font-size: 24px;
}

.catalogue-lists {
   width: 100%;
}

.catalogue-lists li a {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 14px;
   font-weight: 600;
}

#catalogue-banner {
   margin-top: 17px;
}

.catalogue-banner-bg {
   background-image: url('../img/grass.png');
   background-size: cover;
   background-repeat: no-repeat;
   padding: 51px 0 48px;
   position: relative;
}

.catalogue-banner-title {
   padding-left: 99px;
   width: 50%;
   color: #FFF;
   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   font-size: 70px;
   font-weight: 600;
   line-height: 124.368%; /* 87.058px */
}

.catalogue-banner-text-box {
   margin-top: 37px;
   padding: 21px 0;
   padding-left: 99px;
   column-gap: 68px;
   background-color: #FF7A1B;
   width: 100%;
}

.catalogue-banner-text-box p {
   color: #FFF;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 24px;
   font-weight: 500;
   line-height: 97.368%; /* 23.368px */
}

.catalogue-banner-img {
   position: absolute;
   top: 0;
   right: 60px;
   vertical-align: middle;
}

.catalogue-banner-bg .left,
.catalogue-banner-bg .right {
   position: absolute;
   width: 45px;
   height: 45px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   background-color: rgba(43, 21, 13, 0.1);
   border-radius: 50%;
}

.catalogue-banner-bg .left i,
.catalogue-banner-bg .right i {
   font-size: 20px;
   cursor: pointer;
}

.catalogue-banner-bg .left {
   top: 50%;
   left: -22.5px;
   transform: translateY(-50%);
}

.catalogue-banner-bg .right {
   top: 50%;
   right: -22.5px;
   transform: translateY(-50%);
}

.catalogue-types {
   margin-top: 40px;
}


.catalogue-type-card-text {
   color: #2D170C;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 14px;
   font-weight: 500;
   line-height: 126.5%; /* 17.71px */
   letter-spacing: -0.21px;
}

.catalogue-products {
   margin-top: 30px;
}

.catalogue-products-title {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 32px;
   font-weight: 600;
   margin-bottom: 20px;
}

.catalogue-products-cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
   gap: 17px 27px;
}

.catalogue-product-card:nth-child(1) {
   grid-column: 1;
   grid-row: 1 / 5;
   flex-direction: column;
   justify-content: space-between;
}
.catalogue-product-card:nth-child(2) {
   grid-column: 2;
   grid-row: 1 / 2;
}
.catalogue-product-card:nth-child(3) {
   grid-column: 2;
   grid-row: 2 / 4;
}
.catalogue-product-card:nth-child(4) {
   grid-column: 2;
   grid-row: 4 / 5;
}
.catalogue-product-card:nth-child(5) {
   grid-column: 3;
   grid-row: 1 / 3;
}
.catalogue-product-card:nth-child(6) {
   grid-column: 3;
   grid-row: 3 / 5;
}

.catalogue-product-card {
   border-radius: 6px;
   background-color: #FFF7D9;
   padding: 22px 24px;
}

.catalogue-product-card-title {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   font-size: 21px;
   font-weight: 600;
   margin-bottom: 10px;
}

.catalogue-product-card-lists {
   column-gap: 30px;
   row-gap: 10px;
}

.catalogue-product-card:nth-child(1) .catalogue-product-card-lists {
   flex-wrap: wrap;
}

.catalogue-product-card:nth-child(2) .catalogue-product-card-lists,
.catalogue-product-card:nth-child(3) .catalogue-product-card-lists,
.catalogue-product-card:nth-child(4) .catalogue-product-card-lists,
.catalogue-product-card:nth-child(5) .catalogue-product-card-lists,
.catalogue-product-card:nth-child(6) .catalogue-product-card-lists {
   flex-direction: column;
}

.catalogue-product-card:nth-child(5) img,
.catalogue-product-card:nth-child(6) img {
   width: 50%;
   height: 100%;
   object-fit: contain;
}


/* Res Navbar */

#res-navbar {
   background-color: #000;
   color: #fff;
   padding: 25px 0;
}

.res-navbar-content {
   column-gap: 30px;
}

.res-search-form, .res-search-form #res-search {
   width: 100%;
}

.res-search-form #res-search {
   border-radius: 8px;
   border: none;
   outline: none;
   padding: 15px 10px;
   color: #818181;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 18px;
   font-weight: 300;
}

.res-bar, .res-phone {
   font-size: 25px;
   cursor: pointer;
}

#res-bar {
   display: none;
}

.res-bars-content {
   position: fixed;
   top: 0;
   left: -100%;
   width: 50%;
   height: 100vh;
   background-color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: left .3s ease;
}

#res-bar:checked ~ .res-bars-content {
   left: 0;
}

.res-exit {
   position: absolute;
   top: 35px;
   left: 20px;
   font-size: 25px;
   cursor: pointer;
}

.res-bars-content {
   padding: 0 20px;
   z-index: 1;
}

.res-bars-content .location-menu-content {
   flex-direction: column;
   row-gap: 20px;
   flex-wrap: wrap;
}

.res-bars-content .location-menu-content .locations {
   flex-wrap: wrap;
   row-gap: 20px;
}

.res-bars-content .location-menu-content .location-lists {
   flex-wrap: wrap;
   row-gap: 20px;
}

.res-bars-content .location-menu-content .color-site-text {
   color: #fff;
}

.res-bars-content .location-menu-content .contact-details {
   flex-wrap: wrap;
   row-gap: 20px;
   text-align: center;
}

.res-bars-content .location-menu-content .mail-order {
   margin: 0 auto;
}


.res-bars-content .location-menu-content .contacts-lists li a,
.res-bars-content .location-menu-content .contacts-lists li a .bold-number,
.res-bars-content .location-menu-content .mail-link {
   color: #fff;
}


/* Res-categories */

#res-categories {
   margin-top: 18px;
}

#res-categories .catalogue-link {
   width: 100%;
   text-align: center;
   justify-content: center;
   border-radius: 5px;
}

#res-categories .catalogue-types {
   gap: 20px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}

#res-categories .res-catalogue-products .catalogue-products-title {
   text-align: center;
}

#res-categories .res-catalogue-products-cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
}

#res-categories .res-catalogue-products-cards .res-catalogue-product-card {
   display: flex;
   justify-content: center;
   background-color: #fff;
   padding: 0;
   align-items: center;
}

#res-navbar, #res-categories, #res-catalogue-banner {
   display: none;
}

#res-catalogue-banner {
   background: #6E9425;
}

#res-catalogue-banner .catalogue-banner-bg {
   background: #6E9425;
}

#res-catalogue-banner .catalogue-banner-bg .left,
#res-catalogue-banner .catalogue-banner-bg .right {
   background-color: transparent;
}

#res-catalogue-banner .catalogue-banner-bg .left i,
#res-catalogue-banner .catalogue-banner-bg .right i {
   font-size: 30px;
}


/* Top sales */

#top-sales {
   margin-top: 50px;
   margin-bottom: 40px;
}

.top-sales-intro {
   margin-bottom: 20px;
}

.top-sales-title {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 32px;
   font-weight: 600;
}

.top-sales-intro a {
   color: #BBB;
   font-size: 16px;
   font-weight: 400;
}

.top-sales-navbar {
   margin-bottom: 20px;
}

.top-sales-navbar ul {
   border-bottom: 1px solid #E8E8E8;
   column-gap: 20px;
}

.top-sales-navbar ul li {
   padding-bottom: 10px;
}

.top-sales-navbar ul li:first-child {
   border-bottom: 1px solid #FF7A1B;
}

.top-sales-cards {
   display: grid;
   grid-template-columns: repeat(5, 1fr);

}

.top-sale-card {
   width: 100%;
   border: 1px solid #E8E8E8;
   padding: 20px 13px 14px;
}

.top-sale-card-img {
   width: 100%;
   margin: 0 auto 12px;
   text-align: center;
}

.top-sale-card-intro p {
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   color: #000;
   font-size: 12px;
   font-weight: 300;
   margin-bottom: 7px;
}

.top-sale-card-title {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 9px;
}

.top-sale-card-size, .top-sale-card-square,
.top-sale-card-capacity, .top-sale-card-guarantee {
   margin: 10px 0;
}

.top-sale-card-size p, .top-sale-card-square p,
.top-sale-card-capacity p, .top-sale-card-guarantee p {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 13px;
   font-weight: 300;
}

.top-sale-card-size p:last-child, .top-sale-card-square p:last-child,
.top-sale-card-capacity p:last-child, .top-sale-card-guarantee p:last-child {
   width: 100%;
}

.top-sale-card-size p img, .top-sale-card-square p img,
.top-sale-card-capacity p img, .top-sale-card-guarantee p img {
   margin-right: 5px;
}

.top-sale-card .dotted {
   width: 100%;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 13px;
   font-weight: 300;
   border-bottom: 2px dotted #D1D1D1;
}

.top-sale-card-cost-buy {
   margin-top: 25px;
}

.top-sale-card-cost {
   flex-direction: column;
   row-gap: 5px;
}

.del-cost {
   color: #BBB;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 14px;
   font-weight: 600;
   margin-right: 5px;
}

.prize-box {
   padding: 1.5px 5.5px;
   background-color: #FFD634;
   color: #2B150D;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 11.021px;
   font-weight: 600;
}

.real-cost {
   color: #FF3838;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 22px;
   font-weight: 600;
}

.top-sale-card-buy-link {
   background-color: #FFD634;
   border-radius: 6px;
   padding: 15px 25px;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   color: #2B150D;
   font-size: 16px;
   font-weight: 600;
}

.promotion-models {
   margin-top: 20px;
}


/* Modal */

#modal, #res-modal, #footer-modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 2;
   display: none;
}

#modal .modal-content, #res-modal .modal-content,
#footer-modal .modal-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #fff;
   padding: 36px 48px 28px;
   width: 30%;
}

#res-modal .modal-content, #footer-modal .modal-content {
   width: 50%;
}

#modal .close-modal, #res-modal .close-modal,
#footer-modal .close-modal {
   position: absolute;
   top: 20px;
   right: 20px;
}

#res-modal .close-modal,
#footer-modal .close-modal {
   color: #000;
}

#modal:target, #res-modal:target, #footer-modal:target {
   display: block;
}

.modal-content-title {
   color: #000;
   text-align: center;
   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   font-size: 32px;
   font-weight: 600;
   margin-bottom: 5px;
}

.modal-content-text {
   color: #6D6D6D;
   text-align: center;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 14px;
   font-weight: 300;
   margin-bottom: 15px;
}

.modal-form input, .modal-form textarea {
   display: block;
   width: 100%;
   border: 0;
   outline: 0;
   border: 1px solid #E8E8E8;
   color: #818181;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 14px;
   font-weight: 300;
   padding: 10px 17px;
}

.modal-form input:nth-of-type(2) {
   margin: 10px 0;
}

.rules {
   width: 100%;
   margin-top: 10px;
   margin-bottom: 18px;
   justify-content: center;
}

.rules input {
   display: inline-block;
   width: 16px;
   height: 16px;
   margin-right: 6px;
}

.rules label {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 11px;
   font-weight: 300;
}

.rules label b {
   color: #FF7A1B;
   text-decoration: underline;
}

.modal-submit-btn {
   border-radius: 6px;
   background-color: #BBB;
   color: #FFF;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 16px;
   font-weight: 600;
   border: none;
   outline: none;
   padding: 12px 50px;
   display: inline-block;
   width: 100%;
   margin: 0 auto;
   cursor: pointer;
}

.modal-submit-btn:hover {
   background-color: #FF7A1B;
}

/* Clients */

#clients {
   padding-bottom: 42px;
}

.clients-title {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-700', sans-serif;
   font-size: 32px;
   font-weight: 600;
   margin-bottom: 81px;
}

.clients-cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 16px;
   margin-bottom: 26px;
}

.client-card {
   border: 2px solid #E8E8E8;
   border-radius: 6px;
   padding: 26px 25px;
}

.client-card-intro {
   padding-bottom: 23px;
   border-bottom: 2px solid #E8E8E8;
   margin-bottom: 18px;
}

.client-card-name-title {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 18px;
   font-weight: 600;
   margin-bottom: 6px;
}

.client-card-date {
   color: #BBB;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 14px;
   font-weight: 300;
}

.stars {
   margin-bottom: 7px;
}

.stars i {
   color: #FFD634;
}

.client-card-rating-number {
   color: #2B150D;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 13px;
   font-weight: 300;
   line-height: 97.368%; /* 12.658px */
}

.client-card-text {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 14px;
   font-weight: 300;
   line-height: 20px;
   margin-bottom: 10px;
}

.client-card-link {
   color: #FF7A1B;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 14px;
   font-weight: 400;
   text-decoration-line: underline;
}

.clients-btn {
   margin: 0 auto;
}

.open-ratings {
   margin: 0 auto;
   text-align: center;
   color: #FFF;
   border-radius: 3px;
   background-color: #FF7A1B;
   padding: 10px 33px;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 16px;
   font-weight: 600;
   width: 30%;
   display: block;
}

/* About-us */

.about-us-cards {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 88px;
}

.about-us-title {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 32px;
   font-weight: 400;
   padding-bottom: 24px;
   border-bottom: 2px solid #FF7A1B;
   margin-bottom: 39px;
}

.about-us-text {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 16px;
   font-weight: 300;
   line-height: 158.5%; /* 25.36px */
   margin-bottom: 33px;
}

.about-us-quote-text-content {
   position: relative;
}

.about-us-quote-text-content img {
   position: relative;
   margin-right: 18px;
   top: -105px;
}

.about-us-quote-text {
   color: #000;
   font-family: 'Museo-Sans-Cyrl-500', sans-serif;
   font-size: 18px;
   font-weight: 600;
   line-height: 158.5%; /* 28.53px */
}

.about-us-quote-text .about-us-quote-author {
   color: #000;
   opacity: 0.5;
   font-family: 'Museo-Sans-Cyrl-300', sans-serif;
   font-size: 16px;
   font-weight: 300;
   line-height: 158.5%; /* 25.36px */
}

.about-us-img {
   width: 100%;
}

.about-us-img img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* News */

#news {
   padding-top: 60px;
}

.news-cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: 1fr auto auto 1fr;
   gap: 34px 55px;
   margin-bottom: 80px;
}

.news-card {
   width: 100%;
}

.news-card:nth-child(1) {
   grid-column: 1 / 2;
   grid-row: 1 / 3;
}
.news-card:nth-child(2) {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}
.news-card:nth-child(3) {
   grid-column: 3 / 4;
   grid-row: 1 / 3;
}
.news-card:nth-child(4) {
   grid-column: 1 / 2;
   grid-row: 3 / 5;
}
.news-card:nth-child(5) {
   grid-column: 2 / 3;
   grid-row: 2 / 5;
}
.news-card:nth-child(6) {
   grid-column: 3 / 4;
   grid-row: 3 / 5;
}

.news-card img {
   width: 100%;
}

.news-title {
   color: #000;
   font-size: 32px;
   font-weight: 600;
   margin-bottom: 34px;
}

.news-card-content {
   padding-top: 9px;
}

.news-card-title {
   color: #FF7A1B;
   font-size: 20px;
   font-weight: 600;
   line-height: 172.5%; /* 34.5px */
}

.news-card-date {
   display: block;
   color:#BBB;
   font-size: 12px;
   font-weight: 400;
   line-height: 172.5%; /* 20.7px */
   margin-bottom: 20px;
}

.news-card-text {
   color: #000;
   font-size: 14px;
   font-weight: 500;
   line-height: 172.5%; /* 24.15px */
   margin-bottom: 8px;
}

.news-card-link {
   color: #FF7A1B;
   font-size: 14px;
   font-weight: 600;
   text-decoration-line: underline;
}

/* Subscribe */

.subscribe {
   gap: 16px;
   margin-bottom: 46px;
}

.subscribe-title {
   color: #000;
   font-size: 24px;
   font-weight: 600;
}

.subscribe-form {
   gap: 16px;
}

.subscribe-form input {
   width: 240px;
   border: none;
   outline: none;
   border: 1px solid #E8E8E8;
   color: #BBB;
   font-size: 14px;
   font-weight: 400;
   padding: 10px 15px;
   border-radius: 5px;
}

.subscribe-btn {
   color: #FFF;
   font-size: 16px;
   font-weight: 400;
   border-radius: 6px;
   background-color: #FF7A1B;
   border: none;
   outline: none;
   padding: 13px 30px;
}

/* Footer */

#footer {
   background-color: #1F1F1F;
   padding: 25px 0;
}

.footer-navbar {
   padding-bottom: 25px;
   border-bottom: 1px solid #BBB;
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 200px;
}

.logo-buttons {
   column-gap: 6px;
   margin-bottom: 9px;
   justify-content: center;
}

.logo-buttons .logo-btn {
   width: 35px;
   height: 32px;
   border-radius: 9px;
}

.logo-buttons .logo-btn:nth-child(1) {
   background-color: #FF7A1B;
}
.logo-buttons .logo-btn:nth-child(2) {
   background-color: #fff;
}
.logo-buttons .logo-btn:nth-child(3) {
   background-color: #FFD634;
}

.logo-text {
   color: #fff;
   font-size: 14px;
   font-weight: 600;
   text-align: center;
}

.logo-address, .work-phone {
   color: #fff;
}

.logo-address .address p,
.work-phone .work-time p {
   color: #FFF;
   font-size: 18px;
   font-weight: 400;
   margin: 5px 0;
}

.work-phone .work-time p span {
   color: #FF7A1B;
}

.footer-info {
   padding-top: 25px;
   padding-bottom: 30px;
   border-bottom: 1px solid #BBB;
   color: #fff;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.footer-info-links {
   column-gap: 64px;
}

.buyers-lists li, .company-lists li, 
.categories-lists li {
   color: #FFF;
   font-size: 14px;
   font-weight: 400;
   margin: 16px 0;
}

.buyers-lists li:first-child, .company-lists li:first-child, 
.categories-lists li:first-child {
   font-weight: 600;
   font-size: 16px;
}

.footer-contacts {
   column-gap: 10px;
}

.footer-contact {
   flex-direction: column;
   row-gap: 15px;
}

.footer-contacts .footer-contact:first-child p {
   color: #F9F8F3;
   font-size: 14px;
   font-weight: 400;
}

.footer-contact-tel {
   color: #FFF;
   font-size: 24px;
   font-weight: 300;
}

.footer-contact-tel span {
   color: #FF7A1B;
}

.footer-contact .social-media {
   column-gap: 15px;
   margin: 0 auto;
}

.footer-contact .social-media a {
   width: 32px;
   height: 32px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid #BBB;
}

.footer-contact .social-media a:hover {
   color: #FF7A1B;
   border-color: #FF7A1B;
}

.privacy {
   color: #fff;
   padding-top: 25px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   opacity: 0.5;
}

.privacy-doc {
   font-size: 14px;
   font-weight: 400;
}

.privacy-link {
   display: inline-block;
   text-decoration: underline;
   margin-bottom: 10px;
}

.payments-types, .payments {
   column-gap: 15px;
}

.payments {
   margin-left: auto;
}


/* Responsive */

@media (max-width: 1500px) {
   .top-sales-cards {
      grid-template-columns: repeat(4, 1fr);
   }
}

@media (max-width: 1270px) {
   #location-menu, #search-tel-menu,
   #catalogue, #catalogue-banner {
      display: none;
   }

   #res-navbar, #res-categories, #res-catalogue-banner {
      display: block;
   }

   .top-sales-cards {
      grid-template-columns: repeat(3, 1fr);
   }

   .about-us-quote-text-content img {
      top: -150px;
   }

   .news-cards {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
   }

   .news-card:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
   }
   .news-card:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
   }
   .news-card:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
   }
   .news-card:nth-child(4) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
   }
   .news-card:nth-child(5) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
   }
   .news-card:nth-child(6) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
   }

   .footer-navbar {
      column-gap: 50px;
   }

   .footer-info {
      grid-template: 1fr;
      row-gap: 15px;
      width: 100%;
   }

   .footer-info-links {
      width: 100%;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      column-gap: 0;
      justify-content: space-evenly;
   }
   .footer-contacts {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      justify-content: space-evenly;
   }

   .privacy {
      grid-template-columns: 1fr;
      row-gap: 15px;
   }

   .privacy-doc {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      margin: 0 auto;
      text-align: center;
   }
   .payments {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      margin: 0 auto;
   }

}

@media (max-width: 1100px) {
   .clients-cards {
      grid-template-columns: 1fr 1fr;
   }

   .subscribe {
      flex-direction: column;
   }
   .subscribe-title {
      text-align: center;
   }

   .footer-navbar {
      column-gap: 0;
      row-gap: 10px;
   }

   .logo-address, .work-phone {
      justify-content: space-around;
      text-align: center;
   }

   .logo-address {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
   }

   .work-phone {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
   }
}

@media (max-width: 1000px) {
   .about-us-cards {
      row-gap: 15px;
   }
   .about-us-contents {
      grid-column: 1 / 3;
   }
   .about-us-img {
      grid-column: 1 / 3;
   }
   .about-us-quote-text-content img {
      top: -100px;
   }

   .footer-navbar {
      grid-template-columns: 1fr;
   }
}

@media (max-width: 900px) {
   #res-categories .catalogue-types {
      grid-template-columns: 1fr 1fr;
   }

   #res-catalogue-banner .catalogue-banner-title {
      width: 90%;
      text-align: center;
   }

   .top-sales-cards {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 800px) {
   #res-modal .modal-content,
   #footer-modal .modal-content {
      width: 70%;
   }
}

@media (max-width: 750px) {
   .news-cards {
      grid-template-columns: 1fr;
   }

   .news-card:nth-child(1) {
      grid-column: 1;
      grid-row: 1 / 2;
   }
   .news-card:nth-child(2) {
      grid-column: 1;
      grid-row: 2 / 3;
   }
   .news-card:nth-child(3) {
      grid-column: 1;
      grid-row: 3 / 4;
   }
   .news-card:nth-child(4) {
      grid-column: 1;
      grid-row: 4 / 5;
   }
   .news-card:nth-child(5) {
      grid-column: 1;
      grid-row: 5 / 6;
   }
   .news-card:nth-child(6) {
      grid-column: 1;
      grid-row: 6 / 7;
   }

   .subscribe-form {
      flex-direction: column;
      width: 70%;
   }
   .subscribe-form input {
      width: 100%;
   }
}

@media (max-width: 700px) {
   .clients-cards {
      grid-template-columns: 1fr;
   }
   .open-ratings {
      width: 100%;
   }

   .about-us-quote-text-content img {
      top: -130px;
   }

   .logo-address, .work-phone {
      flex-direction: column;
   }

   .payments {
      flex-direction: column;
   }
}

@media (max-width: 600px) {
   #res-categories .res-catalogue-products-cards {
      grid-template-columns: 1fr 1fr;
   }

   #res-catalogue-banner .catalogue-banner-title {
      font-size: 50px;
   }

   .top-sales-cards {
      grid-template-columns: 1fr;
   }

   #res-modal .modal-content,
   #footer-modal .modal-content {
      width: 80%;
   }

   .about-us-quote-text-content img {
      top: -150px;
   }

   .footer-info-links, .footer-contacts {
      flex-direction: column;
      margin: 0 auto;
      text-align: center;
      row-gap: 40px;
   }

   .payments {
      row-gap: 20px;
   }

   .payments-types {
      flex-wrap: wrap;
      justify-content: center;
   }
}

@media (max-width: 500px) {
   #res-categories .catalogue-types {
      grid-template-columns: 1fr;
   }

   #res-catalogue-banner .catalogue-banner-title {
      font-size: 40px;
   }

   .top-sales-navbar ul {
      overflow: scroll;
   }

   .about-us-quote-text-content img {
      top: -200px;
   }
}

@media (max-width: 450px) {
   #res-categories .res-catalogue-products-cards {
      grid-template-columns: 1fr;
   }

   .client-card-intro {
      flex-direction: column;
      row-gap: 10px;
      margin: 0 auto;
   }

   .about-us-quote-text-content img {
      top: -240px;
   }

   .subscribe-form {
      width: 100%;
   }
}

@media (max-width: 400px) {
   #res-catalogue-banner .catalogue-banner-title {
      font-size: 25px;
   }

   .about-us-quote-text-content img {
      top: -255px;
   }
}